<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <title>QuiCLI - Create CLI's quickly with zero dependencies!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link rel='stylesheet' type='text/css' media='screen' href='assets/main.css'/>
    <link rel="icon" type="image/png" href="assets/favicon.png"/>
</head>
<body>
    <header>
        <img alt="Logo" class="logo" src="assets/logo.svg"/>
        <nav>
            <ul>
                <a href="/"><li><b>Documentation</b></li></a>
                <a href="https://github.com/thecodeah/quicli"><li>Source</li></a>
            </ul>
        </nav>
    </header>
    <div class="sub-header">
        <div class="promo">
            <h1>Create CLI’s quickly with zero dependencies!</h1>
            <p>
                The entire codebase is minified into a single line, copy and paste it at the top of a new 
                Javascript file and you’re ready to go! A perfect cross-platform alternative to shell scripts 
                in development environments!
            </p>
            <button><a href="https://raw.githubusercontent.com/thecodeah/quicli/master/lib/quicli.min.js">Go to code!</a></button>
        </div>
        <div class="code-window">
            <div class="buttons">
                <div class="button button-red"></div>
                <div class="button button-yellow"></div>
                <div class="button button-green"></div>
            </div>
<pre><code>/* Using QuiCLI v1.0.0                                                                                                        */

cli.addCommand("iam", (flags) => {
    cli.log(`I’m ${flags.name[0]}, I’m ${flags.age[0]} years old!`);
})
.addFlag("name", "string", true) // name, type, required
.addFlag("age", "number", true)

// Example input: node myapp iam --name John --age 26
// Example output: I’m John, I’m 26 years old!
</code></pre>
        </div>
    </div>
    <main>
        <nav class="section-nav">
            <h3>Sections:</h3>
            <ul>
                {{#each sections as |section|}}
                    <a href="#{{section.slug}}"><li>{{section.name}}</li></a>
                {{/each}}
            </ul>
        </nav>
        <div class="documentation">
            {{#each sections as |section|}}
                <section id="{{section.slug}}">
                    <h2>{{ section.name }}</h2>
                    {{#each doclets as |doclet|}}
                        <div class="doclet">
                            <h3 id="{{doclet.slug}}">{{doclet.kind}} - {{section.name}}.{{doclet.name}}</h3>

                            {{!-- Description --}}
                            {{#if doclet.comment}}
                                <p>Description: {{doclet.comment}}</p>
                            {{/if}}

                            {{!-- Returns --}}
                            {{#if doclet.returns}}
                                <p>Returns: {{doclet.returns}}</p>
                            {{/if}}

                            {{!-- Parameters --}}
                            {{#if doclet.parameters}}
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                    {{#each doclet.parameters as |parameter|}}
                                        <tr>
                                            <td>{{parameter.name}}</td>
                                            <td>{{parameter.type}}</td>
                                            <td>{{parameter.description}}</td>
                                        </tr>
                                    {{/each}}
                                </table>
                            {{/if}}
                        </div>
                    {{/each}}
                </section>
            {{/each}}
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>
